.root {
    min-height: 100%;
    padding: 20px;
    background: #212121;
    color: #14FFEC;

    font-family: Roboto, sans-serif;
}

.findBtn {
    padding: 10px;
    background: #323232;
    color: #14FFEC;
    border: 1px solid #14FFEC;
    border-radius: 5px;
}

.findBtn:hover {
    background: #ffffff;
    color: #0D7377;
    border-color: #0D7377;
}

.list {
    list-style: none;
    padding: 10px;
    margin-bottom: 0;
    border: 1px solid #14FFEC;
    border-radius: 5px;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 10px;

}

.listItem:not(:last-child) {
    margin-bottom: 15px;
}

.notAvailable > .listItemValue {
    color: #FF0303;
}

.listItemKey {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

/*-------------Loader------------------*/
.wrap {
    display: block;
    margin-top: 10px;
}

.loader {
    color: #14FFEC;
    display: none;
    position: relative;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.loader::after {
    content: '';
    width: 3px;
    height: 3px;
    background: currentColor;
    position: absolute;
    bottom: 5px;
    right: -9px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
    }
    50% {
        box-shadow: 10px 0 #14FFEC, 20px 0 rgba(20, 255, 236, 0);
    }
    100% {
        box-shadow: 10px 0 #14FFEC, 20px 0 #14FFEC;
    }
}